.App{
  background: linear-gradient(#213fc7c2,#8c8d96);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.Appset{
  margin: 50px auto !important;
}

.makeStyles-root-16{
  background-color: none !important;
}
.MuiButton-contained{
  box-shadow: none !important;
  background-color: none !important;
}
.MuiInputBase-input{
  width: 800px !important;
}

.MuiInput-underline:after{
  border-bottom: none !important;
}
.MuiInput-underline:before{
  border-bottom: none !important;
}
.makeStyles-root-3{
  background-color: none !important;
}
@media screen and (max-width: 980px){
  .MuiInputBase-input{
    width: 620px !important;
  }
}
@media screen and (max-width: 780px){
  .MuiInputBase-input{
    width: 400px !important;
  }
}